/Aave.csv
/Activity_2.csv
/activity_timer.py
/ApeCoin.csv
/bnb.csv
/btc_1.csv
/gdp.csv
/Learning_1.ipynb
/nueral_network_algo.py
/pattern.ipynb
/project_1
/python_env.png
/spi_matches.csv
/test.py
/Top 100 Crypto Coins
/train.ipynb
/__pycache__